

.mm6btn {
    background-color: #404;
    border-color: #808;
}

.mm6btn:hover {
    background-color: #505;
    border-color: #a0a;
}

.mm6btn[disabled] {
    background-color: #202;
    border-color: #404;
}
.mm6text{ 
    color: #d0d
}


.resupg, .resupgtop, .resupgleft, .resupgright, .resupgbottom{
    background-color: #000;
    color: #fff;
    border: 4px solid #f0f;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.resupg{
    width: 200px;
    
    height: 200px;
}
.resupgleft, .resupgright{
    width: 1cm;
    
    height: 200px;
}
.resupgtop, .resupgbottom{
    width: 200px;
    height: 1cm;
}


.probarcon {
    width: 20cm;
    height: 20px;
    margin:auto;
    border: 2px solid #f0f;
    border-radius: 10px;
    color: #ff00ff;
    z-index: 0;
    background-color: #000000;
}

.probar {
    width: 100%;
    height: 20px;
    text-align:center;
    border-radius: 12px;
    background-color: #808;
    white-space: nowrap;
    z-index: -1;
}


.mm6upg {
    width: 184px;
    height: 136px;

    color: var(--color-text);
    border: 2px solid #d0d;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.mm7btn{
    background-color: #004;
    border-color: #008;
}
.mm7btn:hover{
    background-color: #005;
    border-color: #00a;
}
.mm7btn[disabled]{
    background-color: #002;
    border-color: #004;
}

.mm7text{ 
    color: #00d
}

.tree_table_column {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin-bottom: 5px;
}
.btn_tree {
    background-color: black;
    border: solid 2px #888;
    margin: 15px;
    width: 54px;
    height: 54px;
    padding: 0;
    z-index: 1;
    font-size: 40px;
}
.btn_tree {
    cursor: pointer;
}
.btn_tree.unused{
    cursor: inherit;
    opacity: 0;
}


.chalPL4 {
    width: 6em;
    height: 3em;
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #00A;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.factorspace {
    font-size: 18px;
}

.f_upperFactor {
    min-height: 290px;
    
    background-color: rgba(255, 145, 0, 0.25);
}
.f_lowerFactor {
    min-height: 290px;
    
    background-color: rgba(0,255,34,0.25);
}

.fs_btn {
	padding: 3px;
	width: 240px;
	height: 240px;
	font-size: 11px;
	margin: 5px;
    border: 2px solid;
    background-color: #0005;
}

.fs_btn > b {
	font-size: 15px;
}
.fs_btn.choosed {
	background: repeating-linear-gradient(135deg, #0005 0%, #0005 1%, #888 5%, #0005 9%, #0005 10%);
	animation: f_spin 1s linear infinite;
	cursor: default;
}

.fs_btn {
    cursor: pointer;
}



.mm8btn{
    background-color: #400;
    border-color: #800;
}
.mm8btn:hover{
    background-color: #500;
    border-color: #a00;
}
.mm8btn[disabled]{
    background-color: #200;
    border-color: #400;
}
.mm8text{
    color: #d00
}

.mm9btn{
    border-color: #840;
    background-image: linear-gradient(to right, #000,#420, #000);
    border: var(--text-color-invert) 2px solid;
}
.mm9btn:hover{
    background-image: linear-gradient(to right, #000,#552a00, #000);
    border-color: #a50;
    border: var(--text-color-invert) 2px solid;
}
.mm9btn[disabled]{
    background-image: linear-gradient(to right, #000,#210, #000);
    border-color: #420;
    border: var(--text-color-invert) 2px solid;
}
.mm9text{
    color: transparent;
    background: linear-gradient(to right, #000,#dd6800, #000);
    -webkit-background-clip: text;
    background-clip: text;
}

.mm10btn{
    background-color: #024;
    border-color: #048;
}
.mm10btn:hover{
    background-color: #002A55;
    border-color: #05A;
}
.mm10btn[disabled]{
    background-color: #012;
    border-color: #024;
}

.mm10text{
    color: #0068dd
}


.evolue{
    background-image: linear-gradient(to right, #000,#888, #000);
    border: var(--text-color-invert) 2px solid;
}
.evolue:hover{
    background-image: linear-gradient(to right, #000,#ccc, #000);
    border: var(--text-color-invert) 2px solid;
}
.evolue[disabled]{
    background-image: linear-gradient(to right, #000,#444, #000);
    border: var(--text-color-invert) 2px solid;
}











.fermions {
	font-size: 18px;
}

.sub_f {
	padding: 15px;
	width: calc(100% - 30px);
}

.f_quark {
	min-height: 290px;
	background-color: rgba(255, 145, 0, 0.25);
}

.f_lepton {
	min-height: 290px;
	background-color: rgba(0, 255, 34, 0.25);
}

.fermion_btn {
	padding: 3px;
	width: 240px;
	height: 240px;
	font-size: 11px;
	margin: 5px;
    border: 2px solid;
    background-color: #444;
}

.fermion_btn > b {
	font-size: 15px;
}

.fermion_btn.quark {
	border-color: orange;
}

.fermion_btn.quark:hover {
	background-color: hsl(39, 100%, 6%);
}

.fermion_btn.quark.choosed {
	background: repeating-linear-gradient(45deg, #0005 0%, #0005 1%, hsl(39, 100%, 21%) 5%, #0005 9%, #0005 10%);
	animation: f_spin 2s linear infinite;
	cursor: default;
}

.fermion_btn.lepton {
	border-color: lime;
}

.fermion_btn.lepton:hover {
	background-color: hsl(120, 100%, 6%);
}

.fermion_btn.lepton.choosed {
	background: repeating-linear-gradient(45deg, #0005 0%, #0005 1%, hsl(120, 100%, 21%) 5%, #0005 9%, #0005 10%);
	animation: f_spin 2s linear infinite;
	cursor: default;
}
@keyframes f_spin {
	0% {
		background-position-x: 0px;
	}
	100% {
		background-position-x: -48px;
	}
}
